.home-container {
  text-align: center;
  /* background-color: aliceblue; */
  /* background-image: url('../assets/vecteezybg.jpg'); */
  min-height: 100vh;
}
.home-container h1 {
  margin: 0;
}

.home-contents {
  padding: 200px 0px;
}

.user-container {
  /* box-shadow: 20px 20px 30px -23px; */
  /* margin: 20px 500px; */
  padding: 20px;
  background-color: #f9f9f991;
}

.home-container button {
  margin: 10px 20px;
  padding: 10px 25px;
  margin-inline: 20px;

  border-radius: 20px;
  cursor: pointer;

  background-color: rgba(255, 68, 0, 0.979);
  color: #fff;
  border: none;
}

.home-container button:hover {
  background-color: rgba(211, 56, 0, 0.979);
}
